.background{
    background: linear-gradient(0deg,#2f90db, #ffffff);
    display: flex;
    justify-content: center;
    border: 20px 20px 20px;
}
.main-container{
    background: linear-gradient(rgb(193, 218, 246, 0), rgba(193, 218, 243, 0.7));
    min-height: 70vh;
    width: 60%;
    border-radius:1%;
    border:10px;
    color:rgb(12, 15, 146);
    line-height: 1.8;
    margin:20px; 
}
#external-links{
    background: linear-gradient( rgba(193, 218, 243, 0.7), rgb(193, 218, 246, 0));
    min-height: 130vh;
    width: 15%;
    border-radius: 30px;
    border: 10px;
    color: rgb(39, 41, 175);
    line-height: 1.8;
    margin: 4% 0 0 0;
    padding: 30px;
    line-height: 50px;
    font-size: 15px; 
}
#sources{
    color: rgb(39, 41, 175);
    padding: 10px 0 0 0;
    line-height: 30px;
    font-size: 17px;
    font-weight: bold;
}

#my-case{ 
    color: rgb(39, 41, 175);
    padding: 10px 0 0 0;
    line-height: 30px;
    font-size: 17px;
    font-weight: bold;
}
#case-list{
    padding:0 0 0 10px
}


h1{
    color:rgb(202, 219, 220);
    text-align: center;
    margin: 5%; 
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 4px;
    font-weight: 1000;
}

form{
    font-size: 12px;
}

#introduction{
    text-align: justify;
    padding: 30px;
}
#results{
    border-style: none;
}

#head{
    background-color: black;
    position: relative;
    padding: 50px;
    height:200px;
}
#OpenDataImg{
    width:300px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: rgb(221, 211, 222);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

table{
    width: 90%;
    padding: 10px 10px 0 20px;
}

tr, td{
    border-collapse: collapse;
    border: 1.5px solid rgb(15, 2, 56);
    min-width: 40px;
}

a:link{
    line-height: 1.1;
}

a:hover,
a:active {
    background-color: rgb(245, 237, 237);
}

h3{
    font-size: 30px;
}

button{
   margin: 0 0 0 20px;   
}

#add{
    background-color: #74b0f1;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}